<mat-card>
  
  <form class="classForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1>REGISTRO</h1>
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" type="text"/>
    </mat-form-field> 

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" type="text"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="text"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Número de celular</mat-label>
      <input matInput formControlName="phone" type="text"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>País</mat-label>
      <input matInput formControlName="country" type="text"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ciudad</mat-label>
      <input matInput formControlName="city" type="text"/>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Basic</button>
  </form>
</mat-card>